.position{
  margin: 45px 20px;
  font-family: Arial, sans-serif;
}
.header{
  margin-bottom: 10px;
  line-height: 20px;
}
.list_point{
  padding: 5px;
  list-style: none;
}
.list_style{
  padding-inline-start: 7px;
  margin-bottom: 10px;
}
.undo{
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}